@import "tailwindcss";
body {
  @apply bg-black text-gray-200;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-600;
}